@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Noto+Color+Emoji&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: "Catamaran", sans-serif !important;
  text-decoration: none;
}

:root {
  --sidebar_border: rgb(233, 236, 239);
  --sidebar_color: rgb(41, 41, 41);
  --sidebar_active: rgb(121, 80, 242);
  --sidebar_hover: ghostwhite;
  --sidebar_background_color: white;
  --sidebar_logo_color: rgb(43, 43, 43);
  --todo_list_background_color: white;

  // --sidebar_active: rgb(56, 85, 164);
  // --sidebar_color: rgb(234, 234, 234);
  // --sidebar_hover: rgb(38, 51, 90);
  // --sidebar_background_color: rgb(4,31,51);
  // --sidebar_logo_color: white;
  // --sidebar_icon_background: rgb(54, 63, 69);

  --background_color_2: rgb(250, 250, 253);
  --background_color: white;
  --container_color: #ffffff;
  --border: rgb(233, 236, 239);
  --color: rgb(53, 53, 53);
  --lighter_color: gray;
  --todo_border: rgb(233, 236, 239);
}

[data-theme="dark"] {
  --sidebar_border: rgb(55, 58, 64);
  --sidebar_color: rgb(245, 245, 245);
  // --background_color:  rgb(17, 18, 20);
  --background_color: rgb(25, 26, 30);
  // --container_color: rgb(17, 18, 20);
  --container_color: rgb(25, 26, 30);
  // --background_color_2: rgb(27, 28, 32);
  --background_color_2: rgb(17, 18, 20);
  --sidebar_hover: rgb(29, 30, 38);
  --sidebar_background_color: rgb(25, 26, 30);
  --border: rgb(35, 37, 41);
  --color: rgb(230, 230, 230);
  --lighter_color: rgb(206, 206, 206);
  --todo_list_background_color: rgb(33, 34, 40);
  --todo_border: rgb(54, 57, 63);
}

body {
  background-color: white;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  .baner_form_container {
    display: flex;
    align-items: center;
    margin-top: 10px;

    input {
      height: 55px;
      padding: 10px;
      font-size: 20px;
      margin-right: 10px;
      max-width: 320px;
      width: 100%;
      border: none;
      background-color: whitesmoke;
      border: 1px solid gainsboro;
      border-radius: 5px;
      display: none;
    }
  }
  .text {
    h1 {
      font-size: 45px;
      font-weight: 900;
      color: rgb(50, 50, 50);
      line-height: 1.1;
    }
    p {
      font-size: 18px;
      margin: 10px 0px;
      max-width: 500px;
      color: rgb(101, 101, 101) !important;
    }
    button {
      background-color: rgb(121, 80, 242);
      white-space: nowrap;
      color: white;
      border: none;
      padding: 12px 15px;
      font-size: 18px;
      border-radius: 5px;
    }
  }
  img {
    width: 600px;
  }
}

nav {
  padding: 0px 5%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    gap: 5px;
    color: rgb(121, 80, 242);
  }
  .burger_container {
    display: none;
  }
  .nav_btns {
    display: flex;
    gap: 20px;
    align-items: center;
    a {
      font-weight: 500;
      font-size: 18px;
      &:nth-child(2) {
        button {
          padding: 5px 20px;
          border: none;
          border-radius: 5px;
          font-size: 18px;
          color: white;
          background-color: rgb(121, 80, 242);
        }
      }
    }
  }
}

.sidebar {
  background-color: var(--sidebar_background_color);
  border-right: 1px solid var(--sidebar_border);
  height: 100vh;
  max-width: 300px;
  width: 300px;
  min-width: 300px;
  position: sticky;
  &.resize {
    position: fixed;
    max-width: 250px;
    width: 250px;
    height: 80%;
    top: 10%;
    left: 15px;
    border: 1px solid var(--sidebar_border);
    // transform: translateX(-100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.243);
    border-radius: 5px;
    z-index: 10;
  }
  &.mobile {
    height: calc(100vh - 70px);
    width: 100%;
    min-width: 100%;
    border: none;
    display: block !important;
  }
  top: 0;
  left: 0;
  .navbar_bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    h4 {
      padding-left: 15px;
    }
  }
  .sidebar_top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    padding: 0px 10px;
    gap: 5px;
  }
  ul {
    margin-top: 10px;
  }
  li {
    padding: 0px 10px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 15px;
      line-height: 1;
      position: relative;
      border-radius: 5px;
      &:hover {
        background-color: var(--sidebar_hover);
      }
      &.active:not(.inactive) {
        background-color: var(--sidebar_active) !important;
        span,
        svg {
          color: white !important;
        }
      }
      svg {
        color: var(--sidebar_color) !important;
        fill: ar(--sidebar_color) !important ;
      }
      span {
        font-size: 17px;
        font-weight: 500;
        color: var(--sidebar_color);
      }
    }
  }
  .sidebar_recent_task {
    border-top: 1px solid var(--sidebar_border);
    margin: 10px 0px;
    padding: 10px 0px;
    h3 {
      font-weight: 400;
      padding: 0px 10px;
      font-size: 16px;
    }
  }
}

.app_container {
  background-color: var(--background_color_2);
  min-height: 100vh;
  display: flex;
  color: var(--color);
  .add_task_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.263);
    border-radius: 50px;
  }
  .tab_header {
    font-weight: 500;
  }

  .page_header {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--container_color);
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 5;
    h2 {
      font-weight: 800;
      font-size: 28px;
    }
  }

  .todo_list {
    background-color: var(--todo_list_background_color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--todo_border);
    margin-bottom: 8px;
    .todos_name {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .home_content {
    width: 100%;
    .page_header {
      border-bottom: 1px solid var(--border);
    }
    .content {
      width: 100%;
      display: flex;
      width: 100%;
      .content_box {
        &:nth-child(1) {
          width: 60%;
          height: calc(100vh - 70px);
          overflow: auto;
          padding: 10px;
          border-bottom: none;
          background-color: var(--container_color);
          border-right: 1px solid var(--border);
          .mantine-Tabs-tabsList {
            border-bottom: none;
          }
        }
        &:nth-child(2) {
          border: 1px solid var(--border);
          padding: 20px;
          height: 100%;
          width: 40%;
          margin: 30px;
          background-color: var(--container_color);
          h2 {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
  .task_content {
    background-color: var(--background_color_2);
    min-height: 100vh;
    .page_header {
      border-bottom: 1px solid var(--border);
    }
    .task_container {
      max-width: 900px;
      margin: 30px auto;
      margin-bottom: 0;
      ul {
        &.grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;
          li {
            flex-direction: column !important;
            .todos_category {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              margin-top: 5px;
            }
            h3 {
              width: 100%;
            }
            .more {
              position: absolute;
              top: 5px;
              right: 5px;
            }
          }
        }
        &.flex {
          width: 100%;
          li {
            flex-direction: column !important;
            .todos_category {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              margin-top: 5px;
            }
            h3 {
              width: 100%;
            }
            .more {
              position: absolute;
              top: 5px;
              right: 5px;
            }
          }
        }
        li {
          background-color: var(--todo_list_background_color);
          padding: 10px;
          border-radius: 2px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.195);
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          h3{
            font-size: 15px;
          }
          
        }
      }
      .category {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
    }
  }
  .each_task {
    background-color: var(--background_color);
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    h1 {
      width: 100%;
      .mantine-Textarea-input {
        font-size: 40px;
        font-weight: 800;
        color: var(--color);
        min-height: max-content;
        min-height: max-content;
        width: 100% !important;
        border: none;
        background-color: transparent;
      }
    }
    .sub_text {
      margin-bottom: 20px;
      .mantine-Textarea-input {
        font-size: 22px;
        color: var(--lighter_color);
        min-height: max-content;
        min-height: max-content;
        width: 100% !important;
        border: none;
        line-height: 1.4;
        background-color: transparent;
      }
    }
    .mantine-Tabs-tabsList {
      border-bottom: none;
    }

    .people_container {
      ul {
        li {
          background-color: var(--todo_list_background_color);
          padding: 10px;
          border-radius: 2px;
          border: 1px solid var(--border);
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
  }
  .service_container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0px;
    gap: 30px;
    .card {
    }
  }
}

.form_content {
  max-width: 480px;
  width: 100%;
  padding: 5% 5%;
  margin: auto;
  min-height: calc(100vh - 60px);
  h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .img_container {
    text-align: center;
    img {
      width: 300px;
    }
    p {
      font-size: 20px;
      color: rgb(101, 101, 101);
    }
  }

  h2 {
  }
  .forgot_password_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transform: translateY(-3px);
    font-size: 15px;
    color: rgb(121, 80, 242);
  }
  .more {
    font-size: 20px;
    margin-top: 20px;
    color: rgb(197, 197, 197);
    a {
      color: rgb(121, 80, 242);
    }
  }
}

.banner_img {
  img {
    width: 700px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 55px;
    font-weight: 900;
    color: rgb(50, 50, 50);
    line-height: 1.1;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
  .banner {
    img {
      width: 450px;
    }
    .text {
      p {
        padding: 0px 15px;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .app_container {
    .home_content {
      .content {
        .content_box {
          &:nth-child(1) {
            width: 100%;
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .task_content {
      padding: 0px 10px;
      .task_container {
        margin: 20px auto;
      }
    }
  }

  .banner {
    flex-direction: column;
    .text {
      text-align: center;
      margin-bottom: 15px;
    }
    .baner_form_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    .nav_btns {
      display: none;
    }
    .burger_container {
      display: inline;
    }
  }
  .banner {
    img {
      width: 100%;
    }
    .baner_form_container {
      width: 100%;
      padding: 0px 20px;
      button {
        width: 100%;
      }
    }
  }
}
